/*TODO: Luego sería hacerlo responsive y por último que sea funcional*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #0A3871;
  --white: #ffffff;
  --ligh-blue: #F3F5FC;
  --gray-400:#495057;
  --gray-500:#343A40;
  --fonttitle: "Poppins", sans-serif;
  --fontbody: 'Dancing Script', Times New Roman, serif;
}
body{
  background-color: var(--ligh-blue);
}

.container {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: var(--ligh-blue);
}
.min-logo{
  padding: 1.5rem 0 1.5rem 1rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arialText {
  margin-top: 3.5rem;
  background-color: var(--ligh-blue);
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: var(--fontbody);
  font-size: 1.5rem;
  color: var(--blue);
  resize: none;
}

.arialText::placeholder{
  color: var(--gray-500);
  font-family: var(--fonttitle);
  font-size: 1rem;
}

.arialText:focus::placeholder{
  color: var(--blue);
  font-family: var(--fontbody);
  font-size: 1.5rem;
}


.info{  /* caja de icono y texto */
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  margin: 1rem 0 0 1rem;
  align-self: flex-start;
  
}

.info-text{
  color: #495057;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: var(--fonttitle);
  
}

.btns-encrypt{   /* caja de botones */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 1rem 4rem;  /*Arriba -Derecha e Izquierda- Abajo*/
  width: 100%;
  padding: 1.5rem;
}

 .encrypt-btn{
  background-color: #0A3871;
  color: white;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: none;
  width: 100%;
  text-align: center;
  font-family: var(--fontbody);
  font-size: 1.5rem;
} 

.uncrypt-btn{
  background-color: #ffffff;
  color: #0A3871;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: solid #0A3871;
  width: 100%;
  text-align: center;
  font-family: var(--fontbody);
  font-size: 1.5rem;
}

.uncrypt-btn:hover{ /*FIXME: Todo esto no es necesario aqui averigua lo que es necesario*/
  background-color: #ffffff;
  color: #0A3871;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: solid #0A3871;
  width: 100%;
  text-align: center;
  font-family: var(--fontbody);
  font-size: 1.5rem;
} 

.arialText-clipboard{
  margin-top: 3.5rem;
  background-color: var(--white);
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: var(--fontbody);
  color: var(--gray-400);
  font-weight: bolder;
  font-size: 1.5rem;
  max-width: 90dvh;
}

.arialText-clipboard::placeholder{
  color: var(--gray-500);
  font-family: var(--fonttitle);
  font-size: 1rem;
}

.arialText-clipboard:focus::placeholder{
  color: var(--blue);
  font-family: var(--fontbody);
  font-size: 1.5rem;
}
/* Codigo insertado para animar la etiqueta span, encontrado en internet */
#btnCopiar{
  cursor: pointer; /* Cambia el cursor al hacer hover */
  padding: 7px 7px;
  border: none;
  border-radius: 100%;
  background: url(--blue);
    /* ... otros estilos ... */
    position: absolute;
    bottom: -162px;
    right: 59px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#btnCopiar img{
  width: 24px;
}

.copy-btn:before,
.copy-btn:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.copy-btn:before {
  border-width: 11px 8px 0 5px;
  border-style: solid;
  border-color: var(--gray-500) transparent transparent transparent;
  top: 16px;
   transform: translateY(20px);
}

.copy-btn:after {
  font-family: var(--fonttitle);
  color: var(--white);
  content: attr(data-tooltip);
  background: var(--gray-500);
  width: 138px;
  height: 66px;
  font-size: 10px;
  font-weight: 300;
  top: 21px;
  left: -123px;
  padding: 7px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(15px);
}

.copy-btn:hover::before,
.copy-btn:hover::after {
  opacity: 1;
  /* transform: translateY(-2px); *//* FIXME: Quitar comentarios cuando termines*/
}

@keyframes shake {
  0% { 
    transform: rotate(2deg);
  }
  50% {
   transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}
.copy-btn{
  animation: shake 500ms ease-in-out forwards;
}

footer {
  border-radius: 0.1rem;
  text-align: center;
  font-size: 0.6rem;
  margin-top: 7rem;
  font-family: var(--fontbody);
}

/*TODO: Haciendo nuestro site responsive*/
@media (min-width: 601px) {
  /* Estilos para pantallas de 768px de ancho o más */
  .min-logo{
    padding: 4.59rem 0 1.5rem 2.5rem;
  }

  .arialText {
    margin-top: 3.5rem;
    background-color: var(--ligh-blue);
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: var(--fontbody);
    font-size: 2rem;
    color: var(--blue);
    width: 90dvw;
    height: 40dvh;
    resize: none;
  }

  .arialText::placeholder{
    font-size: 2rem;
  }
  
  .arialText:focus::placeholder{
    font-size: 2.5rem;
  }

  .info{
    margin: 1rem 0 0 2.5rem;
  }

  .btns-encrypt{
    flex-direction: row;
    padding: 2.5rem;
  }

  .encrypt-btn{
    padding: 1rem;
    border-radius: 1.5rem;
  }

  .uncrypt-btn{
    padding: 0.9rem;
    border-radius: 1.5rem;
  }

}



/* FIXME: Diseño para pantallas grandes */
@media (max-width: 1023px) {
  /* Estilos para pantallas de hasta 1023px de ancho */
}