/*TODO ya hemos practicamente completado el diseño para movil de nuestra app para cifrar texto
Aún faltán algunos detalles pero está casi completada al 100%
1- en la parte del textarea me gustaria diferenciar ambos y que el segundo text area ofrezca un hover cuando no exita texto que diga "Ingresa el texto que desees encriptar o desencriptar."

Luego sería hacerlo responsive y por último que sea funcional*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #0A3871;
  --white: #ffffff;
  --ligh-blue: #F3F5FC;
  --gray-400:#495057;
  --gray-500:#343A40;
  --fonttitle: "Poppins", sans-serif;
  --fontbody: 'Dancing Script', Times New Roman, serif;
}
body{
  background-color: var(--ligh-blue);
}

header {
  background-color: var(--ligh-blue);
}
.min-logo{
  padding: 1.5rem 0 1.5rem 1rem;
}



.arialText {
  margin-top: 3.5rem;
  background-color: var(--white);
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: var(--fontbody);
  font-size: 1.5rem;
}

.arialText::placeholder{
  color: var(--gray-500);
  font-family: var(--fonttitle);
  font-size: 1rem;
}

.arialText:focus::placeholder{
  color: var(--blue);
  font-family: var(--fontbody);
  font-size: 1.5rem;
}



.container {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info{  /* caja de icono y texto */
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-top: 1rem;
}

.info-text{
  color: #495057;
  text-decoration: none;
  font-size: 0.75rem;
  font-family: var(--fonttitle);
  
}

.btns-encrypt{   /* caja de botones */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 1rem 4rem;  /*Arriba -Derecha e Izquierda- Abajo*/
  width: 100%;
  padding: 1.5rem;
}

 .encrypt-btn{
  background-color: #0A3871;
  color: white;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: none;
  width: 100%;
  text-align: center;
  font-family: var(--fontbody);
  font-size: 1.5rem;
} 

.uncrypt-btn{
  background-color: #ffffff;
  color: #0A3871;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: solid #0A3871;
  width: 100%;
  text-align: center;
  font-family: var(--fontbody);
  font-size: 1.5rem;
}

.uncrypt-btn:hover{
  background-color: #ffffff;
  color: #0A3871;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: solid #0A3871;
  width: 100%;
  text-align: center;
  font-family: var(--fontbody);
  font-size: 1.5rem;
} 



footer {
  border-radius: 0.1rem;
  text-align: center;
  font-size: 0.6rem;
  margin-top: 7rem;
  font-family: var(--fontbody);
}